{% extends "base.html" %}


{% block content %}
<div class="container" style="height:80vh;">
    <div class="row mt-5 d-flex justify-content-center">
        <div class="col-md-6">
            <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4 d-flex justify-content-center">
                <a href="{% url "add_note" %}"><button class="btn btn-danger">Create Note</button></a>
            </nav>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        {% if form %}
       
        <div class="col-md-4">
            <div class="card">
                <h1 class="text-center text-danger mt-2"><u>Note</u></h1>
                <div class="card-body">
                    <form action="{% url "save_note" %}" method='POST'>
                        {% csrf_token %}
                        <div class="p-3">
                            {{form.note_title}}
                        </div>
                        <div class="">
                            {{form.note_description}}
                        </div>

                        <input type="submit" name="" id="" value="Save" class="btn btn-danger w-100 mt-3">
                    </form>
                </div>
            </div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                 <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}

